<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% courses.forEach(course => { %>
            <div>
                <p> Course Id</p>
                <%= course.id %>
                <p> Course Title</p>
                <%= course.title %>
                <p> Course capacity</p>
                <%= course.capacity %>
                <p> Enrolled Count</p>
                <%= course.enrolledCount %>
                </div>
        <% }) %>
        </div>
</body>
</html>